{% extends "layout.html" %}
{% block title %}
    Menú
{% endblock %}

{% block main %}
<form action="/" method="POST" class="fondo">
  <input type="text" id="search-box" placeholder="Search..">
  <ul id="search-results">
  </ul>
  <button class="btn btn-primary" type="submit">Buscar</button><br><br><br><br>
</form>
<script>
  const searchBox = document.getElementById("search-box");
  const searchResults = document.getElementById("search-results");

  searchBox.addEventListener("input", () => {
    const query = searchBox.value.trim();

    if (query.length >= 3) {  // Envía una solicitud al servidor cuando el usuario ha escrito al menos 3 caracteres
      fetch(`/search?query=${query}`)
        .then((response) => response.json())
        .then((data) => {
          searchResults.innerHTML = "";
          data.forEach((book) => {
            const listItem = document.createElement("li");
            listItem.textContent = book.title;
            searchResults.appendChild(listItem);
          });
        });
    } else {
      searchResults.innerHTML = "";  // Borra los resultados si la caja de búsqueda está vacía o tiene menos de 3 caracteres
    }
  });
</script>

{% endblock %}